doctype html
html( ng-app="florentindubois.portfolio" lang="{{ 'app.language' | translate }}" )
    head
        meta( charset="utf-8" lang="{{ 'app.language' | translate }}" )
        meta( http-equiv="content-type"  content="text/html; charset=utf-8" lang="{{ 'app.language' | translate }}" )
        meta( http-equiv="default-style" content="text/css; charset=utf-8" lang="{{ 'app.language' | translate }}" )

        meta( name="author"           content="Florentin DUBOIS" lang="{{ 'app.language' | translate }}" )
        meta( name="keywords"         content="Florentin DUBOIS, Portfolio, {{ 'me.name' }} | Portfolio" lang="{{ 'app.language' | translate }}" )
        meta( name="description"      content="Hi ! I am Florentin DUBOIS, I am currently studying at ISEN Brest school that allows me to study one of my passions, IT technologies.I discovered this wonderful domain in high school and since I constantly interested in new technologies. I love discovering new languages and frameworks by myself, even if sometimes I discover them by my friends. I am a big fan of C, C++ and JavaScript to create web applications or software. I consider myself as a developer that can touch all parts of a projet and who can work on a project at any level. Personally I turn to the Arch Linux distributions or CoreOS using Docker to virtualize my developments." lang="en" )
        meta( name="application-name" content="Florentin DUBOIS | Portfolio" lang="{{ 'app.language' | translate }}" )
        meta( name="viewport"         content="width=device-width, initial-scale=1.0" )

        title {{ 'me.name' | translate }} | Portfolio

        link( rel="icon" href="https://gravatar.com/avatar/4ee6863b50bd08aa0f487ad06ef67d79?s=16" lang="{{ 'app.language' | translate }}" )
        link( rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" lang="{{ 'app.language' | translate }}" )
        link( rel="stylesheet" href="angular/angular-material.min.css" lang="{{ 'app.language' | translate }}"  )
        link( rel="stylesheet" href="angular/loading-bar.min.css" lang="{{ 'app.language' | translate }}" )
        link( rel="stylesheet" href="imports.min.css" lang="{{ 'app.language' | translate }}" )

    body( lang="{{ 'app.language' | translate }}" )
        main
            section.fheight( flex layout="row" )
                md-sidenav.md-sidenav-left.md-whiteframe-z2.fheight( md-is-locked-open="$mdMedia( 'gt-md' )" )
                    header.indigo.text-center( layout-padding )
                        img.rounded( src="https://gravatar.com/avatar/4ee6863b50bd08aa0f487ad06ef67d79?s=128" alt="avatar" )

                        h2.white-text.md-headline {{ 'me.name' | translate }}

                    md-content( ng-controller="navigation" )
                        md-list( ng-cloak )
                            md-list-item.md-clickable( ng-repeat="item in menu" md-ink-ripple )
                                a( ng-href="{{ item.link }}" )
                                    md-icon {{ item.icon }}
                                    span.md-subhead {{ item.translate | translate }}

                md-content( flex )
                    div.indigo.super-hero.md-whiteframe-z1( layout="column" layout-align="center center" ng-controller="presentation" )
                        img.rounded( src="https://gravatar.com/avatar/4ee6863b50bd08aa0f487ad06ef67d79?s=196" alt="avatar" )

                        h1.white-text.md-headline.no-margin-bottom {{ 'me.name' | translate }}
                        h2.white-text.md-subhead {{ 'me.job' | translate | ucfirst }}

                        a( ng-href="#contact" )
                            md-button.md-raised {{ 'presentation.started' | translate }}

                        md-fab-speed-dial.md-scale.md-fab-bottom-right( md-open="fab.isOpen" md-direction="left" ng-mouseenter="fab.isOpen = true" ng-mouseleave="fab.isOpen = false" ng-class="{ 'md-hover-full': fab.hover }" )
                            md-fab-trigger
                                md-button.md-fab.md-warn( aria-label="menu" )
                                    md-tooltip( md-direction="top" md-visible="tooltipVisible" ) {{ 'presentation.contact' | translate }}
                                    md-icon contacts

                            md-fab-actions
                                div( ng-repeat="item in fab" )
                                    md-button.md-fab.md-raised.md-mini( aria-label="{{ item.name | translate }}" ng-click="open( item.link )" )
                                        md-tooltip( md-direction="bottom" md-visible="tooltipVisible" md-autohide="false" ) {{ item.name | translate }}
                                        md-icon( md-svg-src="{{ item.path }}" aria-label="{{ item.name | translate }}" )

                    div.margin-bottom( layout="row" layout-padding layout-align="center start" )
                        md-card.overflow( flex="60" flex-md="70" flex-sm="80" flex-xs="80" id="about" )
                            md-card-content
                                h2.md-headline {{ 'about.me' | translate }}

                                div.md-subhead( ng-bind-html="'about.text' | translate" )

                    div.margin-bottom( layout="column" )
                        div( flex="100" layout="row" layout-align="center start" id="skills" )
                            img.present( src="assets/devices.svg" )

                        div.text-center( flex="100" layout="row" layout-align="center start" layout-wrap )
                            div( flex="33" flex-sm="100" flex-xs="100" layout-padding )
                                h3.md-headline {{ 'skills.server.title' | translate }}
                                p.md-subhead.text-justify( ng-bind-html="'skills.server.content' | translate" )

                            div( flex="33" flex-sm="100" flex-xs="100" layout-padding )
                                h3.md-headline {{ 'skills.web.title' | translate }}
                                p.md-subhead.text-justify( ng-bind-html="'skills.web.content' | translate" )

                            div( flex="33" flex-sm="100" flex-xs="100" layout-padding )
                                h3.md-headline {{ 'skills.network.title' | translate }}
                                p.md-subhead.text-justify( ng-bind-html="'skills.network.content' | translate" )

                    div.margin-bottom( layout="column" ng-controller="github" )
                        div.margin-bottom( flex="100" layout="column" layout-align="start center" id="projects" )
                            img.present.md-whiteframe-z1.lite-border-radius( src="assets/code.png" )

                            p.md-headline {{ 'github.projects' | translate }}

                        div( flex="100" layout="row" layout-align="center start" layout-wrap )
                            div( flex="33" flex-md="50" flex-sm="100" flex-xs="100" ng-repeat="repo in repositories"  )
                                md-card
                                    md-card-header
                                        md-card-header
                                            md-card-avatar
                                                img.rounded( ng-src="{{ repo.owner.avatar_url }}" )

                                            md-card-header-text
                                                a.md-title( ng-href="{{ repo.html_url }}" target="_blank" ) {{ repo.full_name }}
                                                span.md-subhead {{ repo.description }}

                                    md-card-actions
                                        md-card-icon-actions( layout="row" layout-align="center center" )
                                            md-button
                                                md-icon call_split
                                                span.margin-left-8 {{ repo.forks_count }}

                                            md-button
                                                md-icon star
                                                span.margin-left-8 {{ repo.stargazers_count }}

                                            md-button
                                                md-icon visibility
                                                span.margin-left-8 {{ repo.watchers }}

                                            md-button
                                                md-icon report_problem
                                                span.margin-left-8 {{ repo.open_issues_count }}

                                    md-card-content( layout="row" layout-align="center center" )
                                        md-button.md-raised.md-primary( ng-click="open( repo.html_url )" ) {{ 'github.view' | translate }}
                                        md-button.md-raised.md-primary( ng-click="readme( $event, repo.name )" ) {{ 'github.readme' | translate }}

                        div( flex="100" layout="row" layout-align="center start" )
                                div( flex="33" flex-md="50" flex-sm="100" flex-xs="100" )
                                    md-card
                                        md-card-header
                                                md-card-header
                                                    md-card-avatar
                                                        img.rounded( ng-src="{{ user.avatar_url }}" )

                                                    md-card-header-text
                                                        a.md-title( ng-href="{{ user.html_url }}" target="_blank" ) {{ user.login }}
                                                        span.md-subhead {{ user.email }}

                                        md-card-actions
                                            md-card-icon-actions( layout="row" layout-align="center center" )
                                                md-button( aria-label="{{ 'github.public' | translate }}" )
                                                    md-tooltip( md-direction="bottom" ) {{ 'github.public' | translate }}
                                                    md-icon( md-svg-src="assets/github.svg" )
                                                    span.margin-left-8 {{ user.public_repos }}

                                                md-button( aria-label="{{ 'github.gists' | translate }}" )
                                                    md-tooltip( md-direction="bottom" ) {{ 'github.gists' | translate }}
                                                    md-icon( md-svg-src="assets/github.svg" )
                                                    span.margin-left-8 {{ user.public_gists }}

                                                md-button( aria-label="{{ 'github.following' | translate }}" )
                                                    md-tooltip( md-direction="bottom" ) {{ 'github.following' | translate }}
                                                    md-icon account_circle
                                                    span.margin-left-8 {{ user.following }}

                                                md-button( aria-label="{{ 'github.followers' | translate }}" )
                                                    md-tooltip( md-direction="bottom" ) {{ 'github.followers' | translate }}
                                                    md-icon account_circle
                                                    span.margin-left-8 {{ user.followers }}

                                        md-card-content( layout="row" layout-align="center center" )
                                            md-button.md-raised.md-primary.padding-side-8( ng-click="open( user.html_url )" ) {{ 'github.all' | translate }}

                    div.margin-bottom.indigo( layout="row" layout-align="center center" layout-align-md="end end" layout-align-sm="end end" layout-align-xs="end end" layout-padding id="timeline" )
                        div( flex="40" flex-md="60" flex-sm="60" flex-xs="60" )
                            ul.timeline.md-whiteframe-z1
                                li.event( data-date="{{ 'experiences.sii.date' | translate }}" )
                                    h2.md-headline( ng-bind-html="'experiences.sii.header' | translate" )
                                    div.md-subhead( ng-bind-html="'experiences.sii.content' | translate" )

                                li.event( data-date="{{ 'experiences.ac3.date' | translate }}" )
                                    h2.md-headline( ng-bind-html="'experiences.ac3.header' | translate" )
                                    div.md-subhead( ng-bind-html="'experiences.ac3.content' | translate" )

                                li.event( data-date="{{ 'experiences.ac3Stage.date' | translate }}" )
                                    h2.md-headline( ng-bind-html="'experiences.ac3Stage.header' | translate" )
                                    div.md-subhead( ng-bind-html="'experiences.ac3Stage.content' | translate" )

                                li.event( data-date="{{ 'experiences.isen.date' | translate }}" )
                                    h2.md-headline( ng-bind-html="'experiences.isen.header' | translate" )
                                    div.md-subhead( ng-bind-html="'experiences.isen.content' | translate" )

                    div.margin-bottom( layout="row" layout-md="column" layout-sm="column" layout-xs="column" layout-padding layout-align-lg="center start" ng-controller="contact" id="contact" )
                        div( flex="60" flex-md="100" flex-sm="100" flex-xs="100" )
                            md-card
                                md-card-content
                                    h3.md-headline {{ 'contact.header' | translate }}
                                    p.md-subhead {{ 'contact.subhead' | translate }}

                                    form( name="mailForm" ng-submit="submit()" )
                                        md-input-container.md-block
                                            label {{ 'contact.email' | translate }}
                                            input( type="text" name="address" ng-model="mail.address" required pattern="[A-Z0-9a-z\._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,6}" )
                                            div( ng-messages="mailForm.address.$error" )
                                                div( ng-message="required" ) {{ 'contact.error.required' | translate  }}
                                                div( ng-message="pattern" ) {{ 'contact.error.email' | translate  }}

                                        md-input-container.md-block
                                            label {{ 'contact.subject' | translate }}
                                            input( type="text" name="subject" ng-model="mail.subject" required )
                                            div( ng-messages="mailForm.subject.$error" )
                                                div( ng-message="required" ) {{ 'contact.error.required' | translate  }}

                                        md-input-container.md-block
                                            label {{ 'contact.message' | translate }}
                                            textarea( name="message" ng-model="mail.message" required )
                                            div( ng-messages="mailForm.message.$error" )
                                                div( ng-message="required" ) {{ 'contact.error.required' | translate  }}

                                        div( layout="row" layout-align="end end" )
                                            md-button.md-raised.md-primary( type="submit" ) {{ 'contact.send' | translate }}

                        div( flex="40" flex-md="100" flex-sm="100" flex-xs="100" )
                            md-card
                                md-card-content
                                    h3.md-headline Twitter
                                    p.md-subhead {{ 'twitter.also' | translate }}

                                md-card-header
                                    md-card-header
                                        md-card-avatar
                                            img.rounded( ng-src="{{ user.profile_image_url_https }}" )

                                        md-card-header-text
                                            a.md-title( ng-href="{{ user.url }}" target="_blank" ) {{ user.screen_name }}
                                            span.md-subhead( ng-bind-html="user.description | url | hashtag | pseudo" )

                                md-card-actions
                                    md-card-icon-actions( layout="row" layout-align="center center" )
                                        md-button( aria-label="{{ 'contact.tweets' | translate }}" )
                                            md-tooltip( md-direction="bottom" ) {{ 'contact.tweets' | translate }}
                                            md-icon( md-svg-src="assets/tweet.svg" )
                                            span.margin-left-8 {{ user.statuses_count }}

                                        md-button( aria-label="{{ 'github.gists' | translate }}" )
                                            md-tooltip( md-direction="bottom" ) {{ 'contact.followers' | translate }}
                                            md-icon account_circle
                                            span.margin-left-8 {{ user.friends_count }}

                                        md-button( aria-label="{{ 'github.following' | translate }}" )
                                            md-tooltip( md-direction="bottom" ) {{ 'contact.followings' | translate }}
                                            md-icon account_circle
                                            span.margin-left-8 {{ user.followers_count }}

                                md-card-content
                                    md-list
                                        md-subheader.md-no-sticky {{ 'about.twitter' | translate }}
                                        md-list-item.md-2-line( ng-repeat="tweet in tweets" )
                                            img.md-avatar( ng-src="{{ tweet.user.profile_image_url_https }}" )
                                            div.md-list-item-text( layout="column" layout-align="center start" )
                                                p( ng-bind-html="tweet.text | url | pseudo | hashtag" )

                    footer.indigo( layout="column" )
                        div( flex="100" layout="row" layout-xs="column" layout-sm="column" layout-align-gt="center start" layout-align-md="center start" )
                            div( flex="40" flex-sm="100" flex-xs="100" layout-align="center start" layout-padding )
                                h3.text-center.md-headline.white-text {{ 'me.name' | translate }} | Portfolio

                            div( flex="20" flex-sm="100" flex-xs="100" layout-align="center start" layout-padding ng-controller="links" )
                                md-list.beautify( ng-cloak )
                                    md-list-item.md-clickable( ng-repeat="item in items" )
                                        a( ng-href="{{ item.link }}" target="_blank" )
                                            span.md-subhead.white-text {{ item.translate | translate }}

                            div( flex="20" flex-sm="100" flex-xs="100" ng-controller="navigation" layout-padding )
                                md-list.beautify( ng-cloak )
                                    md-list-item.md-clickable( ng-repeat="item in menu" )
                                        a( ng-href="{{ item.link }}" )
                                            md-icon.white-text {{ item.icon }}
                                            span.md-subhead.white-text {{ item.translate | translate }}

                        div.indigo.darken-1( flex="100" layout="row" layout-xs="column" layout-sm="column" layout-align="center start" )
                            h4.md-subhead.white-text Copyright © 2016 {{ 'me.name' | translate }} - {{ 'app.licence' | translate }}

                    div( flex )

        script( type="application/javascript" src="angular/angular.min.js" )
        script( type="application/javascript" src="angular/angular-animate.min.js" )
        script( type="application/javascript" src="angular/angular-aria.min.js" )
        script( type="application/javascript" src="angular/angular-material.min.js" )
        script( type="application/javascript" src="angular/angular-messages.min.js" )
        script( type="application/javascript" src="angular/angular-sanitize.min.js" )
        script( type="application/javascript" src="angular/angular-translate.min.js" )
        script( type="application/javascript" src="angular/loading-bar.min.js" )
        script( type="application/javascript" src="markdown/markdown.js" )
        script( type="application/javascript" src="app.min.js" )