b, .bold {
    font-weight: bold;
}

i, .italic {
    font-style: italic;
}

.justify-align {
    text-align: justify;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: #{ ( 1 / $i ) * 2 }rem;
    }
}
