.fheight { height: 100%; }

.text-center  { text-align: center; }
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }

.variadic-width { transition: width 0.2s; }
.min-height { min-height: 20px; }