.fheight { height: 100%; }

.text-center  { text-align: center; }
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }

.variadic-width { transition: width 0.2s; }
.min-height { min-height: 20px; }

.no-margin { margin: 0; }
.no-margin-top { margin-top: 0; }
.no-margin-left { margin-left: 0; }
.no-margin-right { margin-right: 0; }
.no-margin-bottom { margin-bottom: 0; }

.margin-top { margin-top: 60px; }
.margin-left { margin-left: 60px; }
.margin-right { margin-right: 60px; }
.margin-bottom { margin-bottom: 60px; }
.margin-left-8 { margin-left: 8px; }

.padding-side-8 { padding: 0 8px; }

.lite-border-radius { border-radius: 5px; }

.tabs { margin-left: 30px; }
.overflow { z-index: 1; margin-top: -54px; }

img {
    &.rounded {
        border-radius: 50%;
    }

    &.present {
        height: 246px;
    }
}

a {
    &, &:visited, &:hover, &:active {
        text-decoration: none;
        font-weight: bold;

        &.md-title {
            font-weight: bold;
        }

        @extend .blue-text;
    }
}